@font-face {
    font-family: 'BradleyHand';
    src: url('../fonts/BRADHITC.ttf');
}

footer > div > a {
    color:white;
    float:right;
    margin-right:0.6em;
}

footer > div > a:hover {
    color:rgba(255,255,255,0.75);
}

footer > div > p {
    font-family:"BradleyHand";
    font-size:1.5em;
}
